{
    "mv-params": {
        "global-options": [
            {
                "name": "common-params",
                "params": [
                    { "arg": "duration", "vals": [ "10" ], "role": "client" },
                    { "arg": "rtprio", "vals": [ "1" ], "role": "client" }
                ]
            }
        ],
        "sets": [
            {
                "include": "common-params"
            }
        ]
    },
    "tool-params": [
        {
            "tool": "sysstat",
            "params": [
                { "arg": "subtools", "val": "mpstat", "enabled": "yes" }
            ]
        }
    ],
    "tags": {
        "run": "single-jsonTAGS"
    },
    "endpoint": {
        "k8s": "",
        "COMMON_ENDPOINT_ARGS": "",
        "COMMON_K8S_ENDPOINT_ARGS": "",
        "client": "1-2",
        "server": "1",
        "cpu-partitioning": "default:1",
        "securityContext": "client-1:SCRIPT_DIR/k8s-endpoint/securityContext-oslat.json",
        "securityContext": "client-2:SCRIPT_DIR/k8s-endpoint/securityContext-oslat.json"
    },
    "passthru-args": ""
}
